@tailwind base;
@tailwind components;
@tailwind utilities;



#degreeImg{
    display: inline;
    width: 30px;
    position: relative;
    top: -10px;
  }
  
  #showWeather{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: bisque;
    padding: 20px;
    justify-content: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  #detailedDataHolder, #additionalDataHolder{
    font-size: 16px;
    margin-left: 50px;
  }
  #detailedDataHolder p,#additionalDataHolder p{
    text-align: left;
  }
  
  #additionalDataHolder img {
    width: 2px;
    display: inline;
    position: relative;
    top: -2px;
  }

  .mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
    margin: 40px auto;
    
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 80%;
    margin: auto;
  }

  /* forcast */

  #forcastCardContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .forcastCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(213, 205, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid gray;
  }

  /* Mobile View: Targeting small devices (phones) */
@media only screen and (max-width: 600px) {
  #degreeImg {
    width: 20px;
    top: -5px;
  }

  #showWeather {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 100%;
  }

  #detailedDataHolder, #additionalDataHolder {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 0px;
  }

  #additionalDataHolder img {
    width: 1px;
    top: -1px;
  }

  .mapouter {
    height: 200px;
    width: 100%;
    margin: 20px auto;
  }

  .gmap_canvas {
    height: 250px;
    width: 90%;
    margin: auto;
  }

  #forcastCardContainer {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .forcastCard {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
  }
}

/* Tablet View: Targeting medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #degreeImg {
    width: 25px;
    top: -7px;
  }

  #showWeather {
    display: grid;
    gap: 15px;
    padding: 18px;
    width: 75%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  #detailedDataHolder, #additionalDataHolder {
    font-size: 15px;
    margin-left: 30px;
  }

  #additionalDataHolder img {
    width: 1.5px;
    top: -1px;
  }

  .mapouter {
    height: 250px;
    width: 90%;
    margin: 60px auto 100px auto;
  }

  .gmap_canvas {
    height: 300px;
    width: 90%;
    margin: auto;
  }

  #forcastCardContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 15px;

  }

  .forcastCard {
    width: 90%;
    padding: 18px;
  }
}
