*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

table {
    border-spacing: 10px;
    width: 80%;
    text-align: left;
  }
th, td {
    border: none;
    padding: 5px;
}

.editButton, .deleteButton {
    padding: 5px;
    margin-right: 5px;
}
